{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    <title>Mars Terraforming, Inc.</title>
{% endblock %}

{% block content %}
<span class="placeholder col-12 bg-white"></span>
<h3 align = 'center'><b>Mars Terraforming, Inc.</b></h3>

<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>

  <!-- Добавляем d-flex justify-content-center align-items-center для выравнивания -->
  <div class="carousel-inner">
    <div class="carousel-item active text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars1.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars2.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars3.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars4.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars5.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars6.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="{% static 'main/img/mars7.png' %}" class="d-block" style="max-height: 500px;" alt="...">
    </div>
  </div>
</div>

<style>
  .audio-container {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          margin-top: 20px;
        }
</style>

<div class="audio-container">
  <h5>Mars Revival Anthem</h5>
  <audio controls controlsList="nodownload" id="audioPlayer">
    <source src="{% static 'main/audio/Mars Revival Anthem.mp3' %}" type="audio/mpeg">
  </audio>
</div>

<script>
  document.getElementById('audioPlayer').volume = 0.3;
</script>

{% endblock %}