{% extends 'main/layout.html' %}
{% load static %}
{% block title %}
    <title>Контакты</title>
{% endblock %}

{% block content %}

    <span class="placeholder col-12 bg-white"></span>

    <h3 align = 'center'><b>Кто мы?</b></h3>

    <div class="card mb-3" style="margin-left: 20px; margin-right: 20px;">
      <div class="row g-0">
        <div class="col-md-3 d-flex justify-content-center align-items-center">
            <img src="{% static 'main/img/mars_logo.png' %}" class="img-fluid rounded-start" alt="..." style="width: 90%;">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <p>
              <strong>Mars Terraforming, Inc.</strong> — ведущая инновационная компания, разрабатывающая технологии будущего для превращения Марса в пригодную для жизни среду.<br>
              Мы объединяем науку, инженерное мастерство и передовые разработки, чтобы создать устойчивую экосистему на Красной планете.<br>
              Наша миссия — подготовить Марс к заселению, используя передовые решения в области климатической инженерии, биотехнологий и автономных систем.<br>
              Мы разрабатываем технологии для повышения температуры, создания атмосферы, обогащения почвы и производства кислорода.<br>
              Наша команда включает ведущих ученых, инженеров и визионеров, работающих над революционными проектами в области терраформирования.<br>
              Мы сотрудничаем с космическими агентствами, исследовательскими институтами и частными компаниями, чтобы сделать межпланетное будущее человечества реальностью.<br>
              Мы верим, что освоение Марса — это не просто научная фантастика, а следующий шаг эволюции человечества. <br>
              Будущее начинается здесь. Марс ждет! 🚀🌱
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="audio-container">
      <h5>Mars Revival Anthem</h5>
      <audio controls controlsList="nodownload" id="audioPlayer">
        <source src="{% static 'main/audio/Mars Revival Anthem.mp3' %}" type="audio/mpeg">
      </audio>
    </div>

    <script>
      document.getElementById('audioPlayer').volume = 0.3;
    </script>

    <span class="placeholder col-12 bg-white"></span>
    <span class="placeholder col-12 bg-success"></span>

    <footer class="bg-light text-center py-3">
        <h3 align = 'center'><b>Контактная информация</b></h3>
        <h4 align = 'center'><em>Телефон: +7 800 RED-PLANET</em></h4>
        <h4 align = 'center'><em>E-mail: terraforming@mars.com</em></h4>
    </footer>

{% endblock %}