<span class="placeholder col-12 bg-white"></span>
<span class="placeholder col-12 bg-success"></span>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer class="bg-light text-center py-3">
  <a href="#"><i class="fa fa-vk fa-2x"></i></a>
  <a href="#"><i class="fa fa-telegram fa-2x"></i></a>
  <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
  <a href="#"><i class="fa fa-whatsapp fa-2x"></i></a>
  <a href="#"><i class="fa fa-skype fa-2x"></i></a>
</footer>

<footer class="bg-dark text-white text-center py-3">
    <p>© 2025 Mars Terraforming. Все права защищены.</p>
</footer>