{% extends 'base.html' %}

{% block content %}

<h4 align = 'center'>Кто мы?</h4>
<p style="margin-left: 100px;"> <strong>Mars Terraforming, Inc.</strong> — ведущая инновационная компания, разрабатывающая технологии будущего для превращения Марса в пригодную для жизни среду.<br>
   Мы объединяем науку, инженерное мастерство и передовые разработки, чтобы создать устойчивую экосистему на Красной планете.<br>
   Наша миссия — подготовить Марс к заселению, используя передовые решения в области климатической инженерии, биотехнологий и автономных систем.<br>
   Мы разрабатываем технологии для повышения температуры, создания атмосферы, обогащения почвы и производства кислорода.<br>
   Наша команда включает ведущих ученых, инженеров и визионеров, работающих над революционными проектами в области терраформирования.<br>
   Мы сотрудничаем с космическими агентствами, исследовательскими институтами и частными компаниями, чтобы сделать межпланетное будущее человечества реальностью.<br>
   Мы верим, что освоение Марса — это не просто научная фантастика, а следующий шаг эволюции человечества. <br>
   Будущее начинается здесь. Марс ждет! 🚀🌱
</p>

<span class="placeholder col-12 bg-success"></span>
<span class="placeholder col-12 bg-white"></span>

<h4 align = 'center'>Наши ведушие сотрудники</h4>
<span class="placeholder col-12 bg-white"></span>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="../static/image/Maxim Kammerer.png" class="card-img-top" alt="Максим Каммерер">
              <div class="card-body">
                <h5 class="card-title">Максим Каммерер, CIO</h5>
                <p class="card-text">Ведущий эксперт в области климатической инженерии, биотехнологий и автономных систем.
                  Отвечает за разработку и внедрение передовых технологий терраформирования Марса.
                  Объединяет науку и инженерные решения для создания устойчивой экосистемы на Красной планете.
                  Ведет команду инноваций, меняя будущее человечества. 🚀</p>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="../static/image/MD-300.png" class="card-img-top" alt="MD-300">
              <div class="card-body">
                <h5 class="card-title">MD-300, CTO</h5>
                <p class="card-text">Высокотехнологичный андроид и ведущий инженер.
                  Оснащен передовым ИИ, анализирует данные, управляет строительством и адаптирует технологии к условиям Марса.
                  Обладает автономностью, высокоточной манипуляцией и способностью к самообучению, обеспечивая надежность и эффективность терраформирования.🤖🚀</p>
              </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4">
            <div class="card" style="width: 18rem;">
              <img src="../static/image/Hath Tael III.png" class="card-img-top" alt="Ха Тил III">
              <div class="card-body">
                <h5 class="card-title">Ха Тил III, Chief Biologist</h5>
                <p class="card-text">Один из последних представителей марсианской цивилизации, обладающий телепатическими способностями.
                  Разрабатывает биотехнологии для создания экосистемы на Марсе. Специализируется на выращивании устойчивых растений, микробиологии и кислородообразующих процессах.
                  Формирует биологическое будущее Красной планеты.🌱🚀
                </p>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}