{% extends 'base.html' %}

{% block content %}

<h3 align = 'center'>Mars Terraforming, Inc.</h3>

<div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleInterval" data-bs-slide-to="6" aria-label="Slide 7"></button>
  </div>

  <!-- Добавляем d-flex justify-content-center align-items-center для выравнивания -->
  <div class="carousel-inner">
    <div class="carousel-item active text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 1.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 2.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 3.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 4.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 5.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 6.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
    <div class="carousel-item text-center d-flex justify-content-center align-items-center" data-bs-interval="5000">
      <img src="../static/image/mars 7.png" class="d-block" style="max-height: 500px;" alt="...">
    </div>
  </div>
</div>

{% endblock %}
