<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Mars Terraforming, Inc.: Технологии будущего для жизни на Марсе!</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../static/image/mars_logo.ico" alt="Company Logo" style="height: 50px;" class="d-inline-block align-text-top">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{homepage}}" aria-current="page" href="/">Наш дом</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{aboutpage}}" aria-current="page" href="/about/">О компании</a>
        </li>
      </ul>
       <span class="navbar-text me-3 text-white">
        Мы превращаем мечту о Марсе в реальность!
      </span>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>

<span class="placeholder col-12 bg-white"></span>

{% block content %}

{% endblock %}

<div class="audio-container">
  <h5>Mars Revival Anthem</h5>
  <audio controls controlsList="nodownload" id="audioPlayer">
    <source src="../static/audio/Mars Revival Anthem.mp3" type="audio/mpeg">
  </audio>
</div>

<script>
  document.getElementById('audioPlayer').volume = 0.3;
</script>

<span class="placeholder col-12 bg-white"></span>

<span class="placeholder col-12 bg-success"></span>

<footer class="bg-light text-center py-3">
    <h2 align = 'center'><b>Контактная информация</b></h2>
    <h4 align = 'center'><em>Телефон: +7 800 RED-PLANET</em></h4>
    <h4 align = 'center'><em>E-mail: terraforming@mars.com</em></h4>
</footer>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<footer class="bg-light text-center py-3">
  <a href="#"><i class="fa fa-vk fa-2x"></i></a>
  <a href="#"><i class="fa fa-telegram fa-2x"></i></a>
  <a href="#"><i class="fa fa-youtube fa-2x"></i></a>
  <a href="#"><i class="fa fa-whatsapp fa-2x"></i></a>
  <a href="#"><i class="fa fa-skype fa-2x"></i></a>
</footer>

<footer class="bg-dark text-white text-center py-3">
    <p>© 2025 Mars Terraforming. Все права защищены.</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>